#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT = 0
#define LR = 1
#define MAC_OS = 2
#define GAMING = 3
#define FN = 4

#define MOUSE = 5
#define SCROLL = 6

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC      &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6          &kp F7      &kp F8      &kp F9      &kp F10      &kp F11     &kp F12     &kp PSCRN
                &out OUT_BLE &kp GRAVE   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5          &kp N6      &kp N7      &kp N8      &kp N9       &kp N0      &kp EQUAL   &out OUT_BLE
                &tog 2       &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O        &kp P       &kp BSPC    &out OUT_USB
                &tog 3       &kp CAPS    &kp A       &kp S       &kp D       &kp F       &kp G           &kp H       &kp J       &kp K       &kp L        &kp SEMI    &kp ENTER   &none
                &bt BT_SEL 0 &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B           &kp N       &kp M       &kp COMMA   &kp DOT      &kp SLASH   &kp RSHIFT  &none
                &bt BT_CLR   &kp LCTRL   &kp LGUI    &kp LEFT    &kp RIGHT   &kp SPACE   &mo 5           &mo 4       &tog 5      &kp DOWN    &kp UP       &kp BSLH    &kp MINUS   &none
                                                                 &kp LCTRL   &kp LALT    &mo 1
            >;
        };

        layer {
            bindings = <
                &trans      &trans      &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans       &trans      &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans       &trans      &kp MINUS   &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &kp LBKT     &kp RBKT    &kp DEL     &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans       &trans      &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans       &trans      &trans      &trans
                &trans      &trans      &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans       &trans      &trans      &trans
                                                                &trans      &trans      &trans
            >;
        };

        mac_os {
            bindings = <
                &trans      &trans      &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans       &trans      &trans      &trans
                &none       &trans      &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans       &trans      &trans      &none
                &trans      &trans      &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans       &trans      &trans      &none
                &none       &trans      &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans       &trans      &trans      &none
                &none       &trans      &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans       &trans      &trans      &trans
                &none       &kp LCTRL   &kp LGUI    &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans       &trans      &trans      &none
                                                                &kp LGUI    &kp LALT    &trans
            >;
        };

        gaming {
            bindings = <
                &trans      &none       &kp ESC     &kp F1      &kp F2      &kp F3      &kp F4         &kp F5      &kp F6      &kp F7      &kp F8      &kp F9       &kp F10     &kp F11
                &none       &none       &kp GRAVE   &kp N1      &kp N2      &kp N3      &kp N4         &kp N5      &kp N6      &kp N7      &kp N8      &kp N9       &kp N0      &kp BSLH
                &none       &none       &kp TAB     &kp Q       &kp W       &kp E       &kp R          &kp T       &kp Y       &kp U       &kp I       &kp O        &kp P       &kp BSPC
                &trans      &none       &kp CAPS    &kp A       &kp S       &kp D       &kp F          &kp G       &mkp LCLK   &mkp RCLK   &mkp MCLK   &kp L        &kp SEMI    &kp ENTER
                &none       &none       &kp LSHFT   &kp Z       &kp X       &kp C       &kp V          &kp B       &kp N       &kp M       &kp COMMA   &kp DOT      &kp SLASH   &kp SQT
                &none       &none       &kp LCTRL   &trans      &trans      &trans      &kp T          &trans      &trans      &kp DOWN    &kp UP      &kp MINUS    &kp EQUAL   &none
                                                                &trans      &trans      &kp B
            >;
        };

        fn {
            bindings = <
                &trans      &kp C_BRI_DN &kp C_BRI_UP &trans       &trans       &trans       &trans          &trans       &trans      &trans      &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP &trans
                &bt BT_CLR  &trans       &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &trans          &bt BT_SEL 0 &trans      &trans      &trans       &trans       &kp MINUS    &trans
                &none       &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &kp LBKT     &kp RBKT     &kp DEL      &none
                &none       &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &kp APOS     &trans       &none
                &sys_reset  &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &sys_reset
                &none       &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &none
                                                                   &trans       &trans       &trans
            >;
        };

        mouse {
            bindings = <
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &mkp LCLK   &mkp MCLK   &mkp RCLK    &mo 6        &trans       &trans
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &trans
                                                                   &trans       &trans       &trans
            >;
        };

        scroll {
            bindings = <
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &trans
                &trans      &trans       &trans       &trans       &trans       &trans       &trans          &trans       &trans      &trans      &trans       &trans       &trans       &trans
                                                                   &trans       &trans       &trans
            >;
        };
    };
 };
