if DACTYL_RIGHT

config ZMK_KEYBOARD_NAME
    default "DACTYL"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if DACTYL_LEFT || DACTYL_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE_EXPERIMENTAL_CONN
    default y

endif

